#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  {{ SERVICE_NAME }}.service
BindsTo={{ BINDS_TO_SERVICES }}
After={{ AFTER_SERVICES }}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/{{ SERVICE_NAME }}.pid %t/{{ SERVICE_NAME }}.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/{{ SERVICE_NAME }}.pid \
    --cidfile %t/{{ SERVICE_NAME }}.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/{{ MAIN_SERVICE_NAME }}.pod-id --replace -d --name  {{ SERVICE_NAME }} \
    {{ VOLUMES }} \
    {{ ENV_FILES }} \
    ${{{ IMAGE_NAME }}} \
    {{ OTHER_COMMANDS }}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/{{ SERVICE_NAME }}.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP {{ SERVICE_NAME }}
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/{{ SERVICE_NAME }}.ctr-id
PIDFile=%t/{{ SERVICE_NAME }}.pid
Type=forking

[Install]
WantedBy=default.target
